# UPCIbody{
	background: url(bl.jpg);
	<img src="bl.jpg" style="width: 1500px; height: 800px;">
font family: calibri;
}

#from-login{
width: 320px;
height: 360px;
background: #4CAF50;
margin: auto;
margin-top: 180px;
box-shadow: 7px 13px 37px #E57373;
padding: 20px 30px;
border-top: 4px solid #C62828;
color: white;
}
h4{

color: black;
margin: 0px;
text-align: center;
height: 40px;
margin-bottom: 15px;
} 
p{
height: 1px;
text-align: center;
border-bottom: 1px;
margin-top: 5px;
}

#as{
	margin-left: 5px;
	margin-right: 5px;
}

#cajas_num1{
width: 90%;
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
#cajas_num2{
width: 90%;
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
#cajas_num3{
width: 185px;
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
h5{
width: 175px;
border: 1px;
margin-bottom: 15px;
padding: 11px 10px;
background-color: ;
font-size: 14px;
font-weight: bold;
margin-left: 5px;
}
@media screen and (max-width: 688px)
{
#from-login{
width: 250px;
height: 420px;
background: #4CAF50;
margin: auto;
margin-top: 30px;
box-shadow: 7px 13px 37px #E57373;
padding: 2px 3px;
border-top: 4px solid #C62828;
color: white;
}
#as{
	margin-left: 4px;
	margin-right: 4px;
}

#cajas_num1{
width: 80%;
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
#cajas_num2{
width: 80%;
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
#cajas_num3{
width: 100px;
height: 4px
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
}

@media (min-width: 689px) and (max-width: 1000px)
{
	#from-login{
width: 280px;
height: 420px;
background: #4CAF50;
margin: auto;
margin-top: 30px;
box-shadow: 7px 13px 37px #E57373;
padding: 2px 3px;
border-top: 4px solid #C62828;
color: white;
}
#as{
	margin-left: 5px;
	margin-right: 5px;
}

#cajas_num1{
width: 90%;
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
#cajas_num2{
width: 90%;
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
#cajas_num3{
width: 130px;
height: 6px
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
}
@media (min-width: 1001px) and (max-width: 1300px)
{
		#from-login{
width: 290px;
height: 420px;
background: #4CAF50;
margin: auto;
margin-top: 30px;
box-shadow: 7px 13px 37px #E57373;
padding: 2px 3px;
border-top: 4px solid #C62828;
color: white;
}
#as{
	margin-left: 5px;
	margin-right: 5px;
}

#cajas_num1{
width: 95%;
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
#cajas_num2{
width: 95%;
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
#cajas_num3{
width: 170px;
height: 6px
border: 1px solid #020849;
margin-bottom: 15px;
padding: 11px 10px;
background-color: #EEEEF4;
font-size: 14px;
font-weight: bold;
}
}
